.head-prom {
    background-color:#2980b9;
    color:white;
    padding-top:60px;
}

.engine {
    margin-top:30px;
    background-image:url(../images/engine_image300.png);
    width: 300px;
    height: 264px;
}
