<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Go Meta!</h2>
            <p>onec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
        </div>
        <div class="col-md-4">
            <h2>We ♥ Open Source!</h2>
            <p>qb Project is open source and free! Participate by contributing enhancements, requesting features or reportings bugs!</p>
        </div>
    </div>
    
    <%- partial("_how-it-works") %>

    <div class="row">
        <div class="col-md-4">
            <h2>Schema and More</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>More to come</h2>
            <p>We plan to integrate with many different technologies around play, json and jsonschema</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>
</div>